<h3></h3>

<div class="tabbable">

    <ul class="nav nav-tabs">
      <li class="active">
      <a href="#pane_details" data-toggle="tab">Airframe</a>
      </li>
      <li>
      <a href="#pane_engine" data-toggle="tab">Engines</a>
      </li>
      <li>
      <a href="#pane_avionics" data-toggle="tab">Avionics</a>
      </li>
      <li>
      <a href="#pane_cosmetic" data-toggle="tab">Cosmetic</a>
      </li>
      <li>
      <a href="#pane_equipment" data-toggle="tab">Equipment</a>
      </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="pane_details">

            <table style=""  class="table table-condensed">
            <tbody>
              <tr>
                <td style="border-top: 0px;"><h4><small>Total Time</small></h4></td>
                <td style="border-top: 0px;"><input type="text" class="inline_edit number" value="<%= totalTime %>" name="totalTime"></input></td>
                <td style="border-top: 0px;">&nbsp;</td>
                <td style="border-top: 0px;"><h4><small>Total Cycles</small></h4></td>
                <td style="border-top: 0px;"><input type="text" class="inline_edit number" value="<%= totalCycles %>" name="totalCycles"></input></td>
              </tr>

              <!--<tr>
                <td><h4><small>Model</small></h4></td>
                <td><input type="text" class="inline_edit" value="King Air B200 ER SE" name="registration"></input></td>
                <td>&nbsp;</td>
                <td><h4><small>Year</small></h4></td>
                <td><input type="text" class="inline_edit" value="1995" name="registration"></input></td>
              </tr>-->

            </tbody>
            </table>

        </div>

        <div class="tab-pane" id="pane_engine">

            <table class="table table-condensed">
            <thead>
              <th></th>
              <th><input type="text" class="inline_edit" style="font-weight: bold;" value="Eng 1" name="e1Label"></input></th>
              <th><input type="text" class="inline_edit" style="font-weight: bold;" value="Eng 2" name="e2Label"></input></th>
              <th><input type="text" class="inline_edit" style="font-weight: bold;" value="Eng 3" name="e3Label"></input></th>
              <th><input type="text" class="inline_edit" style="font-weight: bold;" value="Eng 4" name="e4Label"></input></th>
            </thead>
            <tbody>
              <tr>
                <td style="border-top: 0px;"><h4><small>Model</small></h4></td>
                <td style="border-top: 0px;"><input type="text" class="inline_edit" value="PT6-34A" name="registration"></input></td>
                <td style="border-top: 0px;"><input type="text" class="inline_edit" value="PT6-34A" name="registration"></input></td>
                <td style="border-top: 0px;"><input type="text" class="inline_edit" value="PT6-34A" name="registration"></input></td>
                <td style="border-top: 0px;"><input type="text" class="inline_edit" value="PT6-34A" name="registration"></input></td>
              </tr>
              <tr>
                <td><h4><small>MSN</small></h4></td>
                <td><input type="text" class="inline_edit" value="PWC-0023" name="registration"></input></td>
                <td><input type="text" class="inline_edit" value="PWC-0523" name="registration"></input></td>
                <td><input type="text" class="inline_edit" value="PWC-0074" name="registration"></input></td>
                <td><input type="text" class="inline_edit" value="PWC-0245" name="registration"></input></td>
              </tr>
              <tr>
                <td><h4><small>TT</small></h4></td>
                <td><input type="text" class="inline_edit" value="12,345" name="registration"></input></td>
                <td><input type="text" class="inline_edit" value="11,274" name="registration"></input></td>
                <td><input type="text" class="inline_edit" value="13,933" name="registration"></input></td>
                <td><input type="text" class="inline_edit" value="9,231" name="registration"></input></td>
              </tr>


            </tbody>
            </table>

        </div>

        <div class="tab-pane" id="pane_avionics">
            <table class="table table-condensed">
            <tbody>
            
              <% for (var i = 0; i < avionics.length; i++) { %>
              <% if (i % 2 == 0) { %>
              <tr>
                <td><h4><small><%= avionics[i].label %></small></h4></td>
                <td class="equipmentTooltip">
                    <%= avionics[i].make %> <%= avionics[i].model %> &nbsp;&nbsp;<i data-eid="<%= avionics[i].id %>" class="removeEquipment icon-trash"></i>
                </td>
                <td>&nbsp;</td>
                <% } else { %>
                <td><h4><small><%= avionics[i].label %></small></h4></td>
                <td class="equipmentTooltip">
                    <%= avionics[i].make %> <%= avionics[i].model %> &nbsp;&nbsp;<i data-eid="<%= avionics[i].id %>" class="removeEquipment icon-trash"></i>
                </td>
              </tr>
              <% }} %>
              
              <% if (avionics.length % 2 == 1) { %>
                <td></td>
                <td></td>
              </tr>              
              <% } %>
              
            </tbody>
            </table>        
        </div>
        <div class="tab-pane" id="pane_cosmetics"></div>
        <div class="tab-pane" id="pane_equipment"></div>

  </div> <!-- end tabbed content -->

</div> <!-- end tabbable -->

<h2><br/></h2>
