<div class="span3" data-airframe="<%= id %>" style="margin-bottom: 20px;">
    <a href="/airframes/<%= id %>" class="thumbnail">
        <% if (typeof(avatar) != "undefined" && avatar != null && typeof(avatar.mini) != "undefined") { %>
          <img src="<%= avatar.listing %>" alt="">
        <% } else { %>
          <div style="width: 210px; height: 157px; background: #eee"></div>
        <%}%>

        <div class="caption" style="color: black;">
          <h5><%= to_s %></h5>
          <%= serial %> <% if (registration != "") { %>(<%= registration %>) <% } %>
        </div>
    </a>
</div> 
