
<div data-airframe="<%= id %>" style="margin-bottom: 20px;width: 340px; float: left;margin-left: 20px;">
 <a href="/airframes/<%= id %>" class="thumbnail">
        <% if (typeof(avatar) != "undefined" && avatar != null && typeof(avatar.mini) != "undefined") { %>
          <div class="index-image" style="background: url(<%= avatar.listing %>)"></div>
        <% } else { %>
          <div class="airframe-index-missing-image"></div>
        <%}%>

          <div class="caption" style="float:  left; width: 230px">
          <h5 style="margin-top: 0; font-size: 15px;"><%= to_s.trunc(23) %>&nbsp;</h5>
          <% if (serial && serial != "") { %>Serial <%= serial %>  &nbsp; &nbsp; <% } %>
          <% if (registration && registration != "") { %>Reg. <%= registration %> <% } %>
          </div>
          <div class="clearfix">&nbsp;</div>
</a>
</div>