<div class="container">

  <div class="row company-banner">
    <div class="span12 whitebox">
      <!--<img class="company-logo" src="/assets/generic.jpg">-->
      <h2 class="company-name"><%= agentCompany %></h2>
      <div class="pull-right" style="margin: 10px 20px; text-align: right">
        <h1>&nbsp;<%= agentPhone %> </h1>
        <h4>&nbsp;</h4>
        <h4><%= agentName %></h4>
        <h4><a href="http://<%= agentWebsite %>"><%= agentWebsite %></a></h4>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>

  <div class="hero-unit" style="background: white; padding: 30px;">

    <% if (show) { %>
    <% if (message != "" && message != null) { %>
    <div class="alert alert-info broker-message">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h2 class="alert-heading"><%= salutation %></h2>
      <p><%= message %></p>
      <span class="pull-right" style="margin-top: 7px; margin-right: 20px;"> <input type="checkbox" id="show-message" style="margin-top: -3px"></input> Don't Show Again</span>
      <div style="clear: both"></div>
    </div>
    <% } } %>

    <div class="span5 hero-text-data">
      <h1><%= title %></h1>
      <% if (askingPrice != null) { %>
      <p>Asking $<%= askingPrice.formatMoney(0, ".", ",") %> </p>
      <% } else { %> <p> &nbsp;</p> <% } %>
      <br>
      <p>
        <a class="btn btn-primary btn-large" id="message-seller">
          <i class="icon-envelope icon-white" style="margin: 2px"></i> <%= agentName %>
        </a>
      </p>

      <ul class="hero-list">
        <% if (headline1 != null) { %>
            <li><h3><%= headline1 %></h3></li>
        <% } %>
        <% if (headline2 != null) { %>
            <li><h3><%= headline2 %></h3></li>
        <% } %>
        <% if (headline3 != null) { %>
            <li><h3><%= headline3 %></h3></li>
        <% } %>        
      </ul>

    </div>

    <div class="hero-image-float">

      <div id="hero-carousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% for (i in images) { %>
          <div class="item<% if (images[i].thumbnail == true) { %> active<% } %>">
            <img class="hero-image" src="<%= images[i].preview %>" data-original="<%= images[i].original %>"/>
          </div>
          <% } %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left hide" href="#hero-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right hide" href="#hero-carousel" data-slide="next">&rsaquo;</a>
      </div>

    </div>

    <div style="clear: both"></div>

  </div>

  <div class="row">
    <div class="span12 whitebox">

      <div class="page-header" style="margin-left: 20px; margin-right: 20px;">
        <h1>
          Detailed Specifications
          <!-- <span class="pull-right"><button class="btn btn-small print-spec"><i class="icon-print"></i> Print</button></span> -->
        </h1>
      </div>

      <div class="span4 spec-data">
        <table class="table table-striped table-bordered ">
          <tr><th colspan=2>General Information</th></tr>
          <tr>
            <td><strong>Serial Number</strong></td>
            <td><%= serial %></td>
          </tr>
          <tr>
            <td><strong>Registration</strong></td>
            <td><%= registration %></td>
          </tr>
          <% if (location != null && location != "") { %>
          <tr>
            <td><strong>Location</strong></td>
            <td><%= location.city %>, <%= location.state %></td>
          </tr>
          <% } %>   
          <% if (totalTime != null && totalTime != "") { %>
          <tr>
            <td><strong>Total Time</strong></td>
            <td><%= totalTime.formatMoney(0, ".", ",") %></td>
          </tr>
          <% } %>                   
          <% if (totalCycles != null && totalCycles != "") { %>
          <tr>
            <td><strong>Landings</strong></td>
            <td><%= totalCycles.formatMoney(0, ".", ",") %></td>
          </tr>
          <% } %>          
        </table>
      </div> <!-- end table wrapper div -->
      <div class="offset4 spec-data" style="margin-right: 20px;">
        <table class="table table-striped table-bordered ">
          <tr>
            <th>Engine Information</strong></th>
            <% for (i in engines) { %>
                <td><% if (engines[i].label != null) { %> <%= engines[i].label %> <% } %></td>
            <% } %>
          </tr>
          
          <tr>
            <td><strong>Model Number</strong></td>
            <% for (i in engines) { %>
                <td><% if (engines[i].model != null) { %> <%= engines[i].model %> <% } %></td>
            <% } %>
          </tr>
          <tr>
            <td><strong>Serial Number</strong></td>
            <% for (i in engines) { %>
                <td><% if (engines[i].serial != null) { %> <%= engines[i].serial %> <% } %></td>
            <% } %>
          </tr>
          <tr>
            <td><strong>TTSN</strong></td>
            <% for (i in engines) { %>
                <td>
                    <% if (typeof(engines[i].totalTime) != "undefined") { %> 
                        <%= engines[i].totalTime.formatMoney(0, ".", ",") %> 
                    <% } %>
                </td>
            <% } %>
          </tr>
          <tr>
            <td><strong>SMOH</strong></td>
            <% for (i in engines) { %>
                <td>
                    <% if (typeof(engines[i].smoh) != "undefined") { %> 
                        <%= engines[i].smoh.formatMoney(0, ".", ",") %> 
                    <% } %>
                </td> 
            <% } %>
          </tr>
          <tr>
            <td><strong>SHSI</strong></td>
            <% for (i in engines) { %>
                <td>
                    <% if (typeof(engines[i].shsi) != "undefined") { %> 
                        <%= engines[i].shsi.formatMoney(0, ".", ",") %> 
                    <% } %>
                </td>
            <% } %>
          </tr>
        </table>
      </div> <!-- end table wrapper div -->

      <div class="span6 spec-data">
        <table class="table table-striped table-bordered ">
          <tr><th colspan=4>Avionics</th></tr>
            <% for (i in avionics) { %>
                <% if (i % 2 == 0) { %>
                    <tr>
                <% } %>              
                <td>
                    <% if (typeof(avionics[i].label) != "undefined") { %> 
                        <strong><%= avionics[i].label %></strong>
                    <% } %>
                </td>
                <td>
                    <% if (typeof(avionics[i].model) != "undefined") { %> 
                    <% if (typeof(avionics[i].make) != "undefined") { %> 
                        <%= avionics[i].make %> <%= avionics[i].model %>
                    <% } } %>
                </td>    
                <% if (i % 2 == 1) { %>
                    </tr>
                <% } %>                            
            <% } %>                

            <% if (avionics.length % 2 == 1) { %>
                <td></td><td></td></tr>
            <% } %>
        </table>
      </div> <!-- end table wrapper div -->
      <div class="offset6 spec-data" style="margin-right: 20px;">
        <table class="table table-striped table-bordered ">
          <tr><th colspan=4>Other Features</th></tr>
          <tr>
            <td>SATELLITE ELT</td>
            <td>FREON COOLING SYSTEM</td>
          </tr>
          <tr>
            <td>2011 PAINT</td>
            <td>SINGLE POINT REFUELING</td>
          </tr>
          <tr>
            <td>ENGINE FIRE EXTIGUISHER</td>
            <td>8.33 MHz RADIOS</td>
          </tr>
          <tr>
            <td>RNP-10</td>
            <td>RVSM</td>
          </tr>
        </table>
      </div> <!-- end table wrapper div -->
      <div class="spec-data" style="margin: 0 20px;">
        <table class="table table-striped table-bordered ">
          <tr><th>Notes</th></tr>
          <tr>
            <td>
              INTERIOR: 2004. FOUR SINGLE PASSENDER SEATS IN CLUB ARRANGEMENT. A FORWARD
              TWO- PLACE SIDE FACING DIVAN AND A SINGLE SIDE FACING SEAT AFT OF
              CABIN DOOR. A FULLY ENCLOSED AFT LAVATORY WITH BELTED FLSHING
              POTTY AND COAT CLOSET.

              <br><br>INSPECTION STATUS:
              FRESH C CHECK WITH MAINTENANCE DONE AT FACTORY APPROVED SERVICE
              CENTERS. 12,100 LBS HIGH GROSS WEIGHT MOD, CAMP, ESP GOLD.
            </td>
          </tr>
        </table>
      </div> <!-- end table wrapper div -->
      <div style="clear: both"></div>

    </div>  <!-- end .whitebox -->

  </div> <!-- end .row -->


  <div class="pull-right" style="margin: 20px;">

      Powered By <a href="http://www.jetdeck.co"><strong>JetDeck.co</strong></a>

  </div>

</div>

<div class="modal hide" id="image-modal">
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn"><i class="icon-download-alt"></i> Download</a>
    <a href="#" class="btn"><i class="icon-briefcase"></i> Get All</a>
  </div>
</div>

<div class="modal hide" id="message-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>
        Re: <%= title %> 
        <% if (serial != null && serial != "") { %> S/N <%= serial %> <% } %>
    </h3>
  </div>
  <div class="modal-body">

        <div style="margin-left: 15px;">
          <div class="span1" style="padding-right: 15px; padding-top: 4px;"><strong>From:</strong></div>
          <input type="text" id="to-field" class="input-xlarge disabled" disabled placeholder="<%= recipient %>">

          <div style="clear:both; margin-top: 10px;"></div>

          <div class="span1" style="padding-right: 15px; padding-top: 4px;"><strong>To:</strong></div>
          <input type="text" id="from-field" class="input-xlarge disabled" disabled placeholder="<%= agentEmail %>">

          <textarea class="input-xlarge"  style="width: 90%; margin-top: 10px;" id="textarea" rows="6"></textarea>
        </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary"><i class="icon-envelope icon-white"></i> Send</a>
  </div>
</div>
