
<!-- HEADER -->
<div class="navbar transparent  navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="index.html">
            <h2><%= agent_company %></h2>
        </a>
        <div class="nav-collapse collapse pull-right">
            <ul class="nav pull-right">
                <li><a class="btn-header" href="sign-in.html"><%= agent_email %></a></li>
                <li><a class="btn-header" href="sign-up.html">(800) 886-5955</a></li>
            </ul>
            
            <div style="clear:both"></div>
            <div class="pull-right"><h3 style="padding: 0; margin-right: 15px; margin-top: -5px"><%= agent_name %></h3></div>
        </div>      
    </div>
  </div>
</div>

<div class="container">
    <div id="title-box">
        <%= make %> <%= model_name %> 
        <small style="margin-left: 5px;"> SN <%= serial %> 
        <% if(!registration){ %>(<%= registration %>)<%}%>
        </small>
    </div>  
</div>

<!-- GALLERY -->
<!-- SlidesJS Optional: If you'd like to use this design -->
<style>

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(http://www.slidesjs.com/img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

</style>
<!-- SlidesJS Required: -->

<script>
    $(function(){
      $("#slides").slidesjs({
        height: 250,
        pagination: {active: false}, 
        navigation: {active: false},
        play: {
            auto: true
        }, 
        effect: {
            slide: {speed: 1000}
        }
      });
    });
</script>
<!-- MAKE MODEL SERIAL -->
<style>
    #title-box {
        background: #222; 
        color: #eee; 
        position: fixed; 
        z-index: 99999; 
        font-size: 15px; 
        margin-top: 86px;
        padding: 7px 7px 3px 7px;
        border-right: 1px #777 solid; 
        border-left: 1px #777 solid; 
        border-bottom: 1px #777 solid; 
    }
</style>

<div id="slides">
    <% for (var i = 0; i < images.length; i++) { %>
        <img src="<%=images[i].original%>">
    <% } %>  
</div>

<!-- SPEC NAV -->
<style> 
    .contact-button {
        vertical-align: middle;
        line-height: 45px;
        text-align: center;
        float: left;
        padding: 0px 20px;
        cursor: pointer;
        border-bottom: 2px transparent solid;
        float:right;
        padding-right: 0px;
    }
    .contact-button .btn-primary{
        background-color: #006dcc;
    }
    .container.spec-nav {
        border-bottom: 1px #DDD solid;
    }

    .nav-tabs {
        border-bottom: 0px solid #ddd;
    }
    .nav {
        margin-left: 0;
        margin-bottom: 0px;
        margin-left: 30px;
        list-style: none;
    }

    .nav-tabs > li {
        margin-bottom: -2px;
    }
    .nav-tabs > li, .nav-pills > li {
        float: left;
    }
    li {
        line-height: 20px;
    }

    .nav-tabs > li > a {
        padding: 0px 20px;
        line-height: 45px;
        border: 2px solid transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #333333;
    }

    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
        color: #555555;
        background-color: transparent;
        border: 0px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }
    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        border-color: #eeeeee #eeeeee #dddddd;
    }
    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee;
    }
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
        color: #555555;
        background-color: transparent;
        border-bottom: 2px #006dcc solid;
        font-weight: bold; 
        cursor: default;
    }




</style>

<div class="container spec-nav">
    <div class="row">
        <div class="contact-button"> 
            <button class="btn btn-primary">Contact Seller</button> 
        </div>    

        <ul class="nav nav-tabs">
          <li class="active"><a href="#airframe" data-toggle="tab">Airframe</a></li>
          <li><a href="#engines" data-toggle="tab">Engines</a></li>
          <li><a href="#avionics" data-toggle="tab">Avionics</a></li>
          <li><a href="#equipment" data-toggle="tab">Equipment</a></li>
          <li><a href="#interior_exterior" data-toggle="tab">Interior/Exterior</a></li>
          <li><a href="#inspection" data-toggle="tab">Inspection Status </a></li>
        </ul>

    </div>
</div>

<!-- CONTENT --> 
<style>
.spec-content {
    margin: 30px 0px;
}
</style>

<div class="container">
    <div class="row-fluid">
    <div class="tab-content">

        <div class="tab-pane active" id="airframe">

                <div class="span6 spec-content">
                    Twelve Passenger seating configur <br>
                    Forward Lavatory: DW: 30" R/h Fo<br>
                </div>

                <div class="span6 spec-content">
                    Collins Pro Line 21, 3-Tube EFIS<br>

                </div>     
        </div>  

        <div class="tab-pane" id="avionics">

                <div class="span6 spec-content">
                    Twelve Passenger seating configuration. Forward Double Club, Dining Group, Credenza, 2x Three-place Divans. <br>
                    Forward Lavatory: DW: 30" R/h Forward Lavatory with Fixed Sink and Storage area.<br>
                    Aft Lavatory: Standard: Lavatory Door Hinged on the Right-Hand Side Opening into Lavatory<br>
                    Cabin Systems<br>
                    Rockwell Collins Falcon Cabin HD:<br>
                    3D Interactive Moving Map and Flight Deck Controller<br>
                    (1 Each) Dual Blu-Ray Player<br>
                    (1 Each) Single iPod Docking Cradle <br>
                    (1 Each) USB Port with Power Outlet (included in 1.212.0) for Video on Demand<br>
                    (1 Each) HDMI with Power Outlet (included in 1.212.0)<br>
                    (1 Each) USB Port for Audio on Demand (and Cabin System Remote Diagnotic)<br>
                    (2 Each) 22" Widescreen HD LED Backlit Monitor on R/H Galley Bulkhead and L/H Aft Lav Bulkhead<br>
                    (1 Each) 10.6" Widescreen LED Backlit Touch Screen Control in 15" Galley Annex<br>
                    (12 Each) touchScreen TC-6000 Cabin Controls<br>
                </div>

                <div class="span6 spec-content">
                    Collins Pro Line 21, 3-Tube EFIS<br>
                    Comm: Dual Collins VHF 4000<br>
                    Nav: Dual Collins NAV 4000<br>
                    Transponder: Dual Collins TDR 94D<br>
                    Autopilot: Collins FGC 3000<br>
                    DME: Collins DME 4000<br>
                    TCAS: Collins TCAS 4000 (TCAS II)<br>
                    ADF: Collins NAV 4000<br>
                    Radar: Collins TWR 850 <br>
                    Rad Alt: Collins ALT 4000<br>
                    FMS: Collins FMS 3000<br>
                    CVR: L3 FA2100<br>
                    EGPWS: Honeywell Mk VIII<br>
                </div>     
        </div>
    </div>    
    </div>
</div>

<!-- CHAT MESSAGE --> 
<style>
.chat-fixed {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.chat-window {
    height: 350px;
    width: 250px;
    background: white;
    color: #333;
    float: right;
    border: 1px solid #ccc;
}
.chat-title {
    height: 18px;
    padding: 3px;
    background: #111;
    color: whiteSmoke;
    font-weight: bold;
}
.chat-message > div {
    margin: 6px;
    color: black;
}
.chat-reply {
    height: 60px;
    width: 250px;
    background: white;
    position: absolute;
    bottom: 0px;
}
.chat-reply-body {
    height: 44px;
    width: 244px;
    background: white;
    margin: 6px;
    border: 1px solid #ccc;
}
</style>

<div class="chat-fixed">
    <div class="container">
        <div class="chat-window">
            <div class="chat-title">
                <span style="float: right">X</span>
                <span style="float: left"><%= agent_name %></span>
            </div>
            <div class="chat-message">
                <div>
                    <strong>Nate: </strong> I wanna know which crazy mofo was the first one to say "let's check this out" and actually do it. Man, that's just nuts. I'd be afraid some unstable rocks/boulders would trap me in there. I'll stick to shipwrecks with big metal corridors that aren't as likely to collapse and can be followed easily in a silt out.
                    <br><span class="muted pull-right">Sent at 4:32pm on May 3</span>
                </div>
            </div>
            <div class="chat-reply">
                <div class="chat-reply-body" content-editable>
                </div>                
            </div>
        </div>
    </div>
</div>