
<!-- HEADER -->
<div class="navbar transparent  navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="index.html">
            <h2><%= agent_company %></h2>
        </a>
        <div class="nav-collapse collapse pull-right">
            <ul class="nav pull-right">
                <li><a class="btn-header" href="sign-in.html"><%= agent_email %></a></li>
                <li><a class="btn-header" href="sign-up.html">(800) 886-5955</a></li>
            </ul>
            
            <div style="clear:both"></div>
            <div class="pull-right"><h3 style="padding: 0; margin-right: 15px; margin-top: -5px"><%= agent_name %></h3></div>
        </div>      
    </div>
  </div>
</div>

<!-- MAKE MODEL SERIAL -->
<style>
    #title-box {
        background: #222; 
        color: #eee; 
        position: fixed; 
        z-index: 99; 
        font-size: 15px; 
        margin-top: 86px;
        padding: 7px 7px 3px 7px;
        border-right: 1px #777 solid; 
        border-left: 1px #777 solid; 
        border-bottom: 1px #777 solid; 
    }
</style>
<div class="container">
    <div id="title-box">
        <%= make %> <%= model_name %> 
        <small style="margin-left: 5px;"> SN <%= serial %> 
        <% if(registration){ %>(<%= registration %>)<%}%>
        </small>
    </div>  
</div>

<!-- GALLERY -->
<!-- SlidesJS Optional: If you'd like to use this design -->
<style>

    #slides {
      display: none
    }
    
    #slides .slidesjs-navigation,
    .slidesjs-navigation,
    .slidesjs-stop.slidesjs-navigation, 
    .slidesjs-play.slidesjs-navigation {
        position: absolute;
        color: white;
        font-weight: bold;
        z-index: 99;
        margin-top: -30px;
    }    

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(http://www.slidesjs.com/img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: white;
    }

    #slides a:hover,
    #slides a:active {
      color: #006dcc;
      text-decoration: none;
    }

    .navbar {
      overflow: hidden
    }

</style>
<!-- SlidesJS Required: -->

<script>
    $(function(){
      $("#slides").slidesjs({
        height: 250,
        pagination: {active: false}, 
        navigation: {active: false},
        play: {
            active: true,
            auto: true
        }, 
        effect: {
            slide: {speed: 1000}
        }
      });

    container_margin_left = $(".container").css("marginLeft");

    $(".slidesjs-navigation").css("marginLeft", container_margin_left);
    $(".slidesjs-stop").html("<i class='icon-stop'></i> Stop Slideshow");
    $(".slidesjs-play").html("<i class='icon-play'></i> Play Slideshow");

    });
</script>

<div id="slides">
    <% for (var i = 0; i < images.length; i++) { %>
        <img src="<%=images[i].slides%>">
    <% } %>  
</div>

<!-- SPEC NAV -->
<style> 
    .contact-button {
        vertical-align: middle;
        line-height: 45px;
        text-align: center;
        float: left;
        padding: 0px 20px;
        cursor: pointer;
        border-bottom: 2px transparent solid;
        float:right;
        padding-right: 0px;
    }
    .contact-button .btn-primary{
        background-color: #006dcc;
        background-image: none;
    }
    .container.spec-nav {
        border-bottom: 1px #DDD solid;
    }

    .nav-tabs {
        border-bottom: 0px solid #ddd;
    }
    .spec-nav .nav {
        margin-left: 0;
        margin-bottom: 0px;
        margin-left: 20px;
        list-style: none;
    }

    .nav-tabs > li {
        margin-bottom: -2px;
    }
    .nav-tabs > li, .nav-pills > li {
        float: left;
    }
    li {
        line-height: 20px;
    }

    .nav-tabs > li > a {
        padding: 0px 20px;
        line-height: 45px;
        border: 2px solid transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #333333;
    }

    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
        color: #555555;
        background-color: transparent;
        border: 0px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }
    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        border-color: #eeeeee #eeeeee #dddddd;
    }
    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee;
    }
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
        color: #555555;
        background-color: transparent;
        border-bottom: 2px #006dcc solid;
        font-weight: bold; 
        cursor: default;
    }




</style>

<div class="container spec-nav">
    <div class="row">
        <div class="contact-button"> 
            <button class="btn btn-primary">Contact Seller</button> 
        </div>    

        <ul class="nav nav-tabs">
          <li class="active"><a href="#airframe" data-toggle="tab">Airframe</a></li>
          <li><a href="#engines" data-toggle="tab">Engines</a></li>
          <li><a href="#avionics" data-toggle="tab">Avionics</a></li>
          <li><a href="#equipment" data-toggle="tab">Equipment</a></li>
          <li><a href="#interior_exterior" data-toggle="tab">Interior/Exterior</a></li>
          <li><a href="#inspection" data-toggle="tab">Inspection Status </a></li>
        </ul>

    </div>
</div>

<!-- CONTENT --> 
<style>
.spec-content {
    margin: 30px 0px;
}
</style>

<div class="container">
    <div class="row-fluid">
    <div class="tab-content">

        <div class="tab-pane active" id="airframe">
            <div class="span6 spec-content">
                <% airframe_texts.forEach(function(el){ %>
                    <% if(el.label == "Airframe") { %>
                        <%= el.body%>
                    <% } %>
                <% }); %>
            </div>
        </div>  
        <div class="tab-pane" id="engines">
            <div class="span6 spec-content">
                <% airframe_texts.forEach(function(el){ %>
                    <% if(el.label == "EngineSpecs") { %>
                        <%= el.body%>
                    <% } %>
                <% }); %>
            </div>
        </div>  
        <div class="tab-pane" id="avionics">
            <div class="span6 spec-content">
                <% airframe_texts.forEach(function(el){ %>
                    <% if(el.label == "Avionics") { %>
                        <%= el.body%>
                    <% } %>
                <% }); %>
            </div>
        </div>  
        <div class="tab-pane" id="equipment">
            <div class="span6 spec-content">
                <% airframe_texts.forEach(function(el){ %>
                    <% if(el.label == "AdditionalEquipment") { %>
                        <%= el.body%>
                    <% } %>
                <% }); %>
            </div>
        </div>
        <div class="tab-pane" id="interior_exterior">
            <div class="span6 spec-content">
                <% airframe_texts.forEach(function(el){ %>
                    <% if(el.label == "Interior") { %>
                        <%= el.body%>
                    <% } %>
                <% }); %>
            </div>
        </div>
        <div class="tab-pane" id="inspection">
            <div class="span6 spec-content">
                <% airframe_texts.forEach(function(el){ %>
                    <% if(el.label == "InspectionStatus") { %>
                        <%= el.body%>
                    <% } %>
                <% }); %>
            </div>
        </div>        
    </div>    
    </div>
</div>

<% if (message && agent_name && agent_first) { %> 
<!-- CHAT MESSAGE --> 
<style>
.chat-fixed {
    position: fixed;
    bottom: -1000px;
    width: 100%;
    z-index: 99; 
}
.chat-window {
    width: 300px;
    background: white;
    color: #333;
    float: right;
    border: 1px solid #ccc;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.chat-title {
    height: 20px;
    padding: 3px;
    background: #111;
    color: whiteSmoke;
    font-weight: bold;
}
.chat-title-close {
    float: right; 
    margin-right: 5px; 
    font-size: 80%; 
    cursor: pointer;
}
.chat-title-status-icon {
    margin-left: 5px; 
    margin-right: 10px;
    color: #FE9A2E; 
    font-size: 80%;
}
.chat-message {

}
.chat-message > div {
    margin: 10px;
    margin-bottom: 115px;
    color: black;
}
.chat-reply {
    height: 50px;
    position: absolute;
    bottom: 0px;
}
.chat-reply-button {
    height: 44px;
    width: 287px;
    margin: 0px 6px 12px 6px;
    font-weight: bold;
    color: #555555;
}
</style>

<script>
$(document).ready(function(){
    window.setTimeout(showChat, 4000);
    $(".chat-title-close").click(function(){
        $(".chat-fixed").animate({bottom:'-1000px'}, 800);
    });
});
function showChat() {
    $(".chat-fixed").animate({bottom:'0px'}, 800);
}
</script>

<div class="chat-fixed">
    <div class="container">
        <div class="chat-window">
            <div class="chat-title">
                <span class="chat-title-close">X</span>
                <span style="float: left">
                    <i class="icon-circle chat-title-status-icon"></i> <%= agent_name %>
                </span>
            </div>
            <div class="chat-message">
                <div>
                    <strong><%= agent_first %>: </strong> &nbsp;&nbsp; <%= message %>
                    <!--<br><span class="muted">Sent at 4:32pm on May 3</span>-->
                </div>
            </div>
            <div class="chat-reply">
                <button class="btn chat-reply-button"><i class="icon-reply"></i> &nbsp; Reply to <%= agent_first %></button>                
            </div>
        </div>
    </div>
</div>
<% } %>