


    <div class="container">
    <div style="background: #222; color: #eee; position: absolute; z-index: 99999; top: 86px; font-size: 15px; padding: 7px 7px 3px 7px;"><%= make %> <%= model_name %> <small style="margin-left: 5px;"> SN <%= serial %> (<%= registration %>)</small></div>
    </div>

    <div class="navbar transparent  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">
                <h2><%= agent_company %></h2>
            </a>
            <div class="nav-collapse collapse pull-right">
                <ul class="nav pull-right">
                    <li><a class="btn-header" href="sign-in.html"><%= agent_email %></a></li>
                    <li><a class="btn-header" href="sign-up.html">(800) 886-5955</a></li>
                </ul>
                
                <div style="clear:both"></div>
                <div class="pull-right"><h3 style="padding: 0; margin-right: 15px; margin-top: -5px"><%= agent_name %></h3></div>
            </div>
        </div>
      </div>
    </div>


    <section id="feature_slider" class="">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <style>
            .info h2 {
                color: white;
                font-size: 20px;
                font-weight: normal;
                text-shadow: 1px 1px 1px #3B3262;
                line-height: 56px;
            }

            .title-contrast-box {
                background: rgba(0, 0, 0, 0.4);
                -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
                -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
                box-shadow: 0 1px 10px rgba(0, 0, 0, .1);                
                padding: 0 5px;
            }
            #pagination {margin-top: -40px;}
        </style>

        <% for (var i = 0; i < images.length; i++) { %>

        <article class="slide" style="background: url('<%=images[i].original%>') repeat-x top center;">
            <div class="info" style="top: 500px; left: 20%; position: absolute;">

            </div>
        </article>

        <% } %>

    </section>

    <div>
    <div class="container">

        <div class="span11 well hide">
        <div class="span5">   
            <h4>Lowest Time Airframe on Market</h4>
            <h4>Zero Known Damage History</h4>
            <h4>Fresh Phase 1-4 Inspection, April 2012</h4>
        </div>
        <button class="btn btn-large btn-warning pull-right"><strong>Contact Seller</strong></button>

        </div>

        <div class="span10">

        </div>
    </div>
    </div>

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cleancanvas.herokuapp.com/js/bootstrap.min.js"></script>
    <script src="http://cleancanvas.herokuapp.com/js/theme.js"></script>
    <script type="text/javascript" src="http://cleancanvas.herokuapp.com/js/index-slider.js"></script>  
