<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body style="text-align: left; width: 400px; font-family: Verdana, Verdana, Geneva, sans-serif, Arial; color: #333344; font-size: 18px;">

	<p>
	    <% if @recipient.first.present? %>
	    Hello <%= @recipient.first %>, 
	    <% elsif @xspec.salutation.present? %>
	      <%= @xspec.salutation %>
	    <% else %>
	    Hello, 
	    <% end %>
	</p>

	<p>I have prepared an aircraft specification for you: </p>

	<a style="text-decoration: none" href="<%= root_url %>s/<%= @xspec.url_code %>">
       <div style="margin: 30px 25px; text-align: center; color: #EDEDED; border-radius: 6px; border: 1px solid #9999CC; background: #55A; vertical-align: center">
       <div style="padding: 10px">
               <h1 style="margin: 10px auto; color: #FFFFFF"><%= @xspec.airframe.to_s %></h1>
       </div>
	</a>

	<% if @sender.phone.present? %>
	<p>You may reach me by replying to this message or calling 
	<strong><a style="text-decoration: none; color: #5555AA" href="tel:<%= @sender.phone %>"><%= @sender.phone %></a></strong>.</p><br>
	<% end %>

  <% if @sender.fullName %>
    <br>Thank You, 
    <br><%= @sender.fullName %>
    <% if @sender.company.present? %>
      <% if @sender.user.logo.present? %>
      <br><img src="<%= @sender.user.logo.url %>" alt="<%= @sender.company %>">
      <% else %>
      <br><%= @sender.company %>
      <% end %>    
    <% end %>
  <% end %>
  
	<br><br>
	<p style="font-size: 10px;">
	Powered by <a href="http://www.jetdeck.co" style="text-decoration: none; color: #666699">JetDeck</a>
	<br>If you no longer wish to receive emails from this person, 
	you may <a href="mailto:<%= @sender.email %>" style="text-decoration: none; color: #666699">notify the sender</a>.
	</p>

</body>

</html>

