<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @contact.first %>
</p>

<p>
  <b>Last:</b>
  <%= @contact.last %>
</p>

<p>
  <b>Source:</b>
  <%= @contact.source %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Company:</b>
  <%= @contact.company %>
</p>

<p>
  <b>Title:</b>
  <%= @contact.title %>
</p>

<p>
  <b>Description:</b>
  <%= @contact.description %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
