<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @credit.user %>
</p>

<p>
  <b>Creditable type:</b>
  <%= @credit.creditable_type %>
</p>

<p>
  <b>Creditable:</b>
  <%= @credit.creditable_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @credit.amount %>
</p>

<p>
  <b>Direction:</b>
  <%= @credit.direction %>
</p>

<p>
  <b>Description:</b>
  <%= @credit.description %>
</p>


<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
