<table class="engine-table table table-condensed <% if (engineItems.length == 0) { %>hide<% } %>">
<thead>
  <th></th>
  <% for (var i = 0; i < engineItems.length; i++) { %>
  <th style="text-align: center"><input type="text" class="engine_inline_edit" style="font-weight: bold;" value="<%= engineItems[i].name %>" data-eid="<%= engineItems[i].id %>" name="name" placeholder="Engine XX"></input></th>
  <% } %>
</thead>
<tbody>
  <tr>
    <td style="border-top: 0px;"><h4><small>Make</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center; border-top: 0px;">
        <input type="text" class="engine_inline_edit" value="<%= engineItems[i].make %>" data-eid="<%= engineItems[i].id %>" name="make"></input>
        </td>
    <% } %>
  </tr>
  <tr>
    <td style="border-top: 0px;"><h4><small>Model</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center; border-top: 0px;">
        <input type="text" class="engine_inline_edit" value="<%= engineItems[i].model_name %>" data-eid="<%= engineItems[i].id %>" name="model_name"></input>
        </td>
    <% } %>
  </tr>
  <tr>
    <td><h4><small>MSN</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit" value="<%= engineItems[i].serial %>" data-eid="<%= engineItems[i].id %>" name="serial"></input>
        </td>
    <% } %> 
  </tr>
  <tr>
    <td><h4><small>Year</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit" value="<%= engineItems[i].year %>" data-eid="<%= engineItems[i].id %>" name="year"></input>
        </td>
    <% } %> 
  </tr>  
  <tr>
    <td><h4><small>TT</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit number" value="<%= engineItems[i].tt %>" data-eid="<%= engineItems[i].id %>" name="tt"></input>
        </td>
    <% } %> 
  </tr>
  <tr>
    <td><h4><small>Cycles</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit number" value="<%= engineItems[i].tc %>" data-eid="<%= engineItems[i].id %>" name="tc"></input>
        </td>
    <% } %> 
  </tr>    
  <tr>
    <td><h4><small>SMOH</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit number" value="<%= engineItems[i].smoh %>" data-eid="<%= engineItems[i].id %>" name="smoh"></input>
        </td>
    <% } %> 
  </tr>  
  <tr>
    <td><h4><small>TBO</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit number" value="<%= engineItems[i].tbo %>" data-eid="<%= engineItems[i].id %>" name="tbo"></input>
        </td>
    <% } %> 
  </tr>   
  <tr>
    <td><h4><small>SHSI</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit number" value="<%= engineItems[i].shsi %>" data-eid="<%= engineItems[i].id %>" name="shsi"></input>
        </td>
    <% } %> 
  </tr>  
  <tr>
    <td><h4><small>HSI</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit number" value="<%= engineItems[i].hsi %>" data-eid="<%= engineItems[i].id %>" name="hsi"></input>
        </td>
    <% } %> 
  </tr>    
  <tr>
    <td></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
            
                <a class="remove_engine" onclick="return false;"
                        data-eid="<%= engineItems[i].id %>" style="cursor: pointer;"> Remove</a>
                <button class="btn btn-large copy_engine hide"
                        data-eid="<%= engineItems[i].id %>">
                            <i class="icon-repeat"
                               data-eid="<%= engineItems[i].id %>"></i> Copy</button>      
     
        </td>
    <% } %> 
  </tr>    
</tbody>

</table>

<a onclick="return false;" href="#" class="add_engine pull-right">Add Engine</a>

