<div class="alert alert-info" style="width: 409px; position: absolute">
 
  <input type="hidden" name="engine" class="engine-selection" style="position: absolute; width: 270px; margin-top: 5px"/>
                
  <button class="btn btn-primary table-input-margin add_engine pull-right" s>
    <i class="icon-plus icon-white"></i> Add
  </button>
  
</div>

<div class="clearfix" style="height: 70px;"></div>

<table class="engine-table table table-condensed <% if (engineItems.length == 0) { %>hide<% } %>">
<thead>
  <th><h4><small>Label</small></h4></th>
  <% for (var i = 0; i < engineItems.length; i++) { %>
  <th style="text-align: center">
    <input type="text" 
            class="engine_inline_edit <%= (engineItems[i].pending) ? "changed" : "" %>" 
            value="<%= engineItems[i].name %>" 
            data-eid="<%= engineItems[i].cid %>" 
            name="name" 
            placeholder="Engine XX"></input>
  </th>
  <% } %>
</thead>
<tbody>

  <tr>
    <td><h4><small>Model</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center;">
        <input type="text" class="engine_inline_edit <%= (engineItems[i].pending) ? "changed" : "" %>" value="<%= engineItems[i].model_name %>" data-eid="<%= engineItems[i].cid %>" name="model_name"></input>
        </td>
    <% } %>
  </tr>
  
  <tr>
    <td><h4><small>MSN</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit <%= (engineItems[i].pending) ? "changed" : "" %>" value="<%= engineItems[i].serial %>" data-eid="<%= engineItems[i].cid %>" name="serial"></input>
        </td>
    <% } %> 
  </tr>
   
  <tr>
    <td><h4><small>TT</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit number <%= (engineItems[i].pending) ? "changed" : "" %>" value="<%= engineItems[i].tt %>" data-eid="<%= engineItems[i].cid %>" name="tt"></input>
        </td>
    <% } %> 
  </tr>
      
  <tr>
    <td><h4><small>SMOH</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit number <%= (engineItems[i].pending) ? "changed" : "" %>" value="<%= engineItems[i].smoh %>" data-eid="<%= engineItems[i].cid %>" name="smoh"></input>
        </td>
    <% } %> 
  </tr>
     
  <tr>
    <td><h4><small>SHSI</small></h4></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
        <input type="text" class="engine_inline_edit number <%= (engineItems[i].pending) ? "changed" : "" %>" value="<%= engineItems[i].shsi %>" data-eid="<%= engineItems[i].cid %>" name="shsi"></input>
        </td>
    <% } %> 
  </tr> 
      
  <tr>
    <td></td>
    <% for (var i = 0; i < engineItems.length; i++) { %>
        <td style="text-align: center">
            
                <a class="remove_engine" onclick="return false;"
                        data-eid="<%= engineItems[i].cid %>" 
                        style="cursor: pointer;">Remove</a>

        </td>
    <% } %> 
  </tr>    
</tbody>

</table>


