
  <div class="span2 main-thumbnail contact-main-thumbnail">

   <img src="/assets/contact_default_avatar.gif">

  </div>

  <div class="offset2">

       <div id="contact_name_edit" class="">
           <input  type="text"
                    class="inline-edit contact_field span3"
                    name="first"
                    value="<%= first %>"
                    placeholder="[First Name]">
           </input>
           <input  type="text"
                    class="inline-edit contact_field span3"
                    name="last"
                    value="<%= last %>"
                    placeholder="[Last Name]">
           </input>
       </div>

       <input  type="text"
                class="inline-edit contact_field span6"
                value="<%= company %>"
                name="company"
                placeholder="[Enter Company Name]">
       </input>

      <div class="row">
        <div class="span7">
          <table class="contact-header-details table table-condensed">
              <tbody>
                  <tr>
                      <td>
                          <div class="contact-header-label">Phone</div>
                      </td>
                      <td>
                          <input  type="text"
                                  class="inline-edit contact_field span4"
                                  value="<%= phone %>"
                                  name="phone"
                                  placeholder="[Enter Phone Number]">
                          </input>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="contact-header-label">Email</div>
                      </td>
                      <td>
                          <input  type="text"
                                  class="inline-edit contact_field span4"
                                  value="<%= email %>"
                                  name="email"
                                  placeholder="[Enter Email Address]">
                          </input>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>

  </div> <!-- offset2 -->
