
  <div class="span2 main-thumbnail contact-main-thumbnail">

      <img src="/assets/missing.png">

  </div>

  <div class="offset2">
  
      <div class="span7">
         <input type="text"
                class="profile_field span3"
                name="first"
                value="<%= first %>"
                style="line-height: 35px"
                placeholder="First Name">
         </input>
         
         <input type="text"
                class="profile_field span4"
                style="float: right; line-height: 35px"
                name="last"
                value="<%= last %>"
                placeholder="Last Name">
         </input>
      </div>
      
      <table class="contact-header-details span7">
          <tbody>
          
              <tr>
                  <td>
                      <div class="contact-header-label">Company</div>
                  </td>
                  <td>
                  
                    <div class="edit-group" for="company">
                    
                      <div class="btn-group pull-right">
                        <button class="btn btn-small change-ok"><i class="icon-ok"></i></button>
                        <button class="btn btn-small change-cancel"><i class="icon-remove"></i></button>
                      </div>
                      <div class="updated"><i class="icon-ok-sign"></i></div>
                      <div class="error"><i class="icon-exclamation-sign"></i></div>
                      <input  type="text"
                              style="float: right;"
                              class="span4"
                              value="<%= company %>"
                              name="company"
                              placeholder="Company Name"></input>
                    </div>
                    
                  </td>
              </tr>
                          
              <tr>
                  <td>
                      <div class="contact-header-label">Phone</div>
                  </td>
                  <td>
                    <div class="edit-group" for="phone">
                    
                      <div class="btn-group pull-right">
                        <button class="btn btn-small change-ok"><i class="icon-ok"></i></button>
                        <button class="btn btn-small change-cancel"><i class="icon-remove"></i></button>
                      </div>
                      <div class="updated"><i class="icon-ok-sign"></i></div>
                      <div class="error"><i class="icon-exclamation-sign"></i></div>
                      <input  type="text"
                              style="float: right;"
                              class="span4"
                              value="<%= phone %>"
                              name="phone"
                              placeholder="Phone Number"></input>
                    </div>
                  </td>
              </tr>
              
              <tr>
                  <td>
                      <div class="contact-header-label">Email</div>
                  </td>
                  <td>
                    <div class="edit-group" for="email">
                    
                      <div class="btn-group pull-right">
                        <button class="btn btn-small change-ok"><i class="icon-ok"></i></button>
                        <button class="btn btn-small change-cancel"><i class="icon-remove"></i></button>
                      </div>
                      <div class="updated"><i class="icon-ok-sign"></i></div>
                      <div class="error"><i class="icon-exclamation-sign"></i></div>
                      <input  type="text"
                              style="float: right;"
                              class="span4"
                              value="<%= email %>"
                              name="email"
                              placeholder="Email Address"></input>
                     </div>
                     
                  </td>
              </tr>
              
          </tbody>
      </table>   

  </div> <!-- offset2 -->

