  <div class="span2 main-thumbnail contact-main-thumbnail">

      <img src="/assets/missing.png">

  </div>

  <div class="offset2">
  
      <div class="span7">
         <input type="text"
                class="profile_field inline-edit span3"
                name="first"
                value="<%= first %>"
                style="line-height: 35px"
                placeholder="First Name"/>
         
         <input type="text"
                class="profile_field inline-edit span4"
                style="float: right; line-height: 35px"
                name="last"
                value="<%= last %>"
                placeholder="Last Name"/>
      </div>
      
      <div class="span3">

        <div class="contact-header-label">Company</div>
        <input  type="text"
                class="inline-edit span3"
                value="<%= company %>"
                name="company"
                placeholder="Company Name"/>                      
        <div class="contact-header-label">Phone</div>              
        <input  type="text"
                style="float: right;"
                class="inline-edit span3"
                value="<%= phone %>"
                name="phone"
                placeholder="Phone Number"/>
        <div class="contact-header-label">Email</div>
        <input  type="text"
                style="float: right;"
                class="inline-edit span3"
                value="<%= email %>"
                name="email"
                placeholder="Email Address"/>
        <span for="email" class="error"></span>

      </div>  
       
      <div class="span4" id="custom-details"></div>       

  </div> <!-- offset2 -->
  
<div style="margin-right: 40px; margin-top: 10px;" 
      class="pull-right">
       
  <a onclick="return false;" href="#" id="detail-add">Add Detail</a>
  
</div>    

