<div style="padding-top: 20px; background:rgb(236, 242, 245); border-bottom: 1px solid #CCC">

  <div class="span2" id="main-thumbnail" style="margin-bottom: 20px;">
    <img height="170" width="170" style="max-width: none;" src="/assets/placeholder/missing.png"/>
  </div>

  <div class="offset2">

    <h1 style="margin-top: 0px;">
      <span id="name" data-pk="1" style="cursor: pointer" data-type="fullname"><%= first %> <%= last %></span>             
    </h1>

    <div style="margin-top: 5px; font-size: 110%" id="contact_details">

      <div class="span4" style="margin: 5px 0px;">

        <div style="margin: 0px;">
          Company &nbsp;
          <a href="#" id="company" data-type="text" data-pk="1" data-original-title="Company Name"><%= company %></a> 
        </div>

        <div style="margin: 5px 0px">
          Office &nbsp;
          <a href="#" id="phone" data-type="text" data-pk="1" data-original-title="Phone Number"><%= phone %></a> 
        </div>

        <div style="margin: 5px 0px">
          Email &nbsp;
          <a href="#" id="email" data-type="text" data-pk="1" data-name="email" data-original-title="Email Address"><%= email %></a> 
        </div>

      </div>


      </div>

    </div>

    <br>

    <div class="span" style="margin-right: 20px; margin-top: 0px;" id="big_note"></div>

   <div class="clearfix"></div>

  </div>   
