
  <div class="span2 main-thumbnail contact-main-thumbnail">

      <img src="/assets/missing.png">

  </div>

  <div class="offset2">
  
      <div class="span7">
         <input type="text"
                class="profile_field inline-edit span3"
                name="first"
                value="<%= first %>"
                style="line-height: 35px"
                placeholder="First Name"/>
         
         <input type="text"
                class="profile_field inline-edit span4"
                style="float: right; line-height: 35px"
                name="last"
                value="<%= last %>"
                placeholder="Last Name"/>
      </div>
      
      <table class="contact-header-details span7">
          <tbody>
          
              <tr>
                  <td>
                      <div class="contact-header-label">Company</div>
                  </td>
                  <td>
           
                    
                      <input  type="text"
                              style="float: right;"
                              class="inline-edit span4"
                              value="<%= company %>"
                              name="company"
                              placeholder="Company Name"/>
                  
                    
                  </td>
              </tr>
                          
              <tr>
                  <td>
                      <div class="contact-header-label">Phone</div>
                  </td>
                  <td>
              
                    
                      <input  type="text"
                              style="float: right;"
                              class="inline-edit span4"
                              value="<%= phone %>"
                              name="phone"
                              placeholder="Phone Number"/>
         
                  </td>
              </tr>
              
              <tr>
                  <td>
                      <div class="contact-header-label">Email</div>
                  </td>
                  <td>
           
                      <input  type="text"
                              style="float: right;"
                              class="inline-edit span4"
                              value="<%= email %>"
                              name="email"
                              placeholder="Email Address"/>
                      <span for="email" class="error pull-right"></span>
        

                  </td>
              </tr>
              
          </tbody>
      </table>   

  </div> <!-- offset2 -->

