<div style="height: 20px;"></div>

<div class="span2">

    <div class="main-thumbnail profile-main-thumbnail">
      <div><img src="/assets/missing.png" /></div>
    </div>

    <h4>Usage Stats</h4>
    <table>
      <tbody style="font-weight: bold">
        <tr>
          <td style="width: 30px; text-align: center;"><%= airframes %></td>
          <td>Aircraft</td>
        </tr>
        <tr>
          <td style="width: 30px; text-align: center;"><%= contacts %></td>
          <td>Contacts</td>
        </tr>
        <tr>
          <td style="width: 30px; text-align: center;"><%= sent %></td>
          <td>Specs Sent</td>
        </tr>
        <tr>
          <td style="width: 30px; text-align: center;"><%= views %></td>
          <td>Spec Views</td>
        </tr>
      </tbody>
    </table>

</div>

<div class="offset2">

    <div class="span7">
      <table id="profile-table">
          <tbody>
              <tr>
                  <td colspan=2>
                      <h1 style="margin-top: 0px;">
                        <span data-pk="1" style="cursor: pointer" id="first" 
                          data-type="text" data-pk="1" data-emptytext="none" data-original-title="First"><%= contact.first %></span> 
                        <span data-pk="1" style="cursor: pointer" id="last" 
                          data-type="text" data-pk="1" data-emptytext="none" data-original-title="Last"><%= contact.last %></span>
                      </h1>
                  </td>
              </tr>
              <tr>
                  <td class="span3">
                      Title
                  </td>
                  <td>
                      <a href="#" id="title" data-type="text" data-pk="1" 
                        data-emptytext="Click to Enter Title" data-original-title="Title"><%= contact.title %></a> 
                  </td>
              </tr>
              <tr>
                  <td>
                      Company
                  </td>
                  <td>
                      <a href="#" id="company" data-type="text" data-pk="1" 
                        data-emptytext="Click to Enter Company" data-original-title="Company"><%= contact.company %></a> 
                  </td>
              </tr>
              <tr>
                  <td>
                      Account Type
                  </td>
                  <td>
                      Beta Free Trial
                  </td>
              </tr>
              <tr>
                  <td>
                      Phone Number
                  </td>
                  <td>
                      <a href="#" id="phone" data-type="text" data-pk="1" 
                        data-emptytext="Click to Enter Phone" data-original-title="Phone"><%= contact.phone %></a> 
                  </td>
              </tr>   
              <tr>
                  <td>
                      Website
                  </td>
                  <td>
                      <a href="#" id="website" data-type="text" data-pk="1" 
                        data-emptytext="Click to Enter URL" data-original-title="Website"><%= contact.website %></a> 
                  </td>
              </tr> 
              <tr>
                  <td>
                      Email Address
                  </td>
                  <td>
                      <a href="#" id="email" data-type="text" data-pk="1" 
                        data-emptytext="Click to Update Email" data-original-title="Email"><%= contact.email %></a> 
                  </td>
              </tr>    
                            
              <tr>
                  <td>
                      Password
                  </td>
                  <td>
                      <a href="#" id="password" data-type="text" data-pk="1" 
                        data-emptytext="Click to Update Password" data-original-title="Password">*******</a> 
                  </td>
              </tr>                  
              <tr>
                  <td>
                      Email Signature
                  </td>
                  <td>
                      <a href="#" id="signature" data-type="textarea" data-pk="1" 
                        data-emptytext="Click to Enter Signature" data-original-title="Signature"><%= spec_disclaimer %></a> 
                  </td>
              </tr>                           
          </tbody>
      </table>
    </div>

</div> <!-- offset2 -->
