  <div class="span2">

      <div class="main-thumbnail profile-main-thumbnail">
        <div><img src="/assets/missing.png" /></div>
      </div>

      <table class="profile-stats">
          <thead>
            <tr>
                <th></th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td style="border-top: 0px; padding: 25px 0">
                <h2 style="color: #aaa"><%= airframes %></h2>
                <small style="color: #aaa">Aircraft </small>
            </td>
          </tr>
          <tr>
            <td style="padding: 25px 0">
                <h2 style="color: #aaa"><%= contacts %></h2>
                <small style="color: #aaa">Contacts </small>          
            </td>
          </tr>
          <tr>
            <td style="padding: 25px 0">
                <h2 style="color: #aaa"><%= sent %></h2>
                <small style="color: #aaa">Specs Sent </small>          
            </td>          
          </tr>
          <tr>
            <td style="padding: 25px 0">
                <h2 style="color: #aaa"><%= views %></h2>
                <small style="color: #aaa">Spec Views </small>          
            </td>           
          </tr>
          </tbody>
      </table>

  </div>
  
  <div class="offset2">
     
      <div class="span7" id="profile_name_edit">

         <input type="text"
                class="inline-edit profile_field span3"
                name="first"
                value="<%= contact.first %>"
                style="line-height: 35px"
                placeholder="First Name">
         </input>
         
         <input type="text"
                class="inline-edit profile_field span4"
                style="float: right; line-height: 35px"
                name="last"
                value="<%= contact.last %>"
                placeholder="Last Name">
         </input>

        <input type="text"
              class="inline-edit profile_field span7"
              value="<%= contact.company %>"
              name="company"
              placeholder="Company Name">
        </input>
      
      </div>

      <div class="row">
      
        <div id="profile_settings" class="span7" style="margin: 70px 0 40px 40px">
              <table>
                  <tbody>
                      <tr>
                          <td>
                              <div class="profile-header-label span3">Account Type</div>
                          </td>
                          <td>
                              <div style="margin-left: 25px;">Beta / Trial</div>
                          </td>
                      </tr>
                      
                      <tr>
                          <td>
                              <div class="profile-header-label span3">Phone Number</div>
                              <div class="span3">Number will be displayed exactly as entered to customers.</div>
                          </td>
                          <td>
                              <input  type="text"
                                      style="float:right" 
                                      class="inline-edit profile_field span4"
                                      value="<%= contact.phone %>"
                                      name="phone"
                                      placeholder="Phone Number">
                              </input>                                                                                  
                          </td>
                      </tr>   
                          
                      <tr>
                          <td>
                              <div class="profile-header-label span3">Website</div>
                              <div class="span3">Must be a valid URL, beginning with <b>http://</b></div>
                          </td>
                          <td>
                              <input  type="text"
                                      style="float:right" 
                                      class="inline-edit profile_field span4"
                                      value="<%= contact.website %>"
                                      name="website"
                                      placeholder="Website">
                              </input>                                                                                  
                          </td>
                      </tr> 
                                                              
                      <tr>
                          <td>
                              <div class="profile-header-label span3">Email Address</div>
                          </td>
                          <td>
                              <input  type="text"
                                      style="float:right" 
                                      class="profile_field span4"
                                      value="<%= contact.email %>"
                                      name="email"
                                      placeholder="Email Address">
                              </input>
                              <input  type="text"
                                      style="float:right" 
                                      class="profile_field span4 email-confirmation"
                                      name="email_confirmation"
                                      placeholder="Confirm New Email">
                              </input>
                              <span class="help-inline email-failure hide">
                                     <span>Could Not Update Email</span>
                              </span>    
                                                            
                              <br><button style="float:right"
                                         class="btn email-btn"
                                         id="update_email">Update Email</button>                                       
                          </td>
                      </tr>    
                                    
                      <tr>
                          <td>
                              <div class="profile-header-label span3">Password</div>
                          </td>
                          <td>
                              <input  type="password"
                                      style="float:right" 
                                      class="profile_field span4"
                                      name="new_password"
                                      placeholder="New Password">
                              </input>
                              <input  type="password"
                                      style="float:right" 
                                      class="profile_field span4"
                                      name="new_password_confirmation"
                                      placeholder="Confirm New Password">
                              </input>
                              <br><button style="float:right"
                                         class="btn email-btn"
                                         id="update_password">Update Password</button>  
                          </td>
                      </tr>                  
                  
                      <tr>
                          <td>
                              <div class="profile-header-label span3">Logo</div>
                              <div class="span3">This image will be shown to your customers</div>
                          </td>
                          <td>
                          
                              <% if (typeof(logo) != "undefined") { %> 
                                  <div class="span4" style="float: right; margin-bottom: 20px;">
                                    <img style="float:right" src="<%= logo %>"><br><br> 
                                  </div>
                              <% } %>
                              
                              <form method="POST" action="/user_logos" enctype="multipart/form-data">
                                
                                <input type="file" 
                                        id="logo" 
                                        name="image"
                                        style="display: none"></input>  
               
                                <input style="float:right; margin-left: 20px" 
                                        type="submit"
                                        value="Upload"
                                        class="btn span2"></input>   
                                                                                 
                                <a style="float: right; margin-left: 20px"
                                        id="upload"
                                        class="btn span2">Browse</a>   
                                                                                                           
                              </form>
                              
                          </td>
                      </tr>                  
                  </tbody>
              </table>
              </div>
        
      </div>

  </div> <!-- offset2 -->
