
<div class="modal">
    <form>
    <div style="margin-top: 20px;">

      <h2 style="margin-left: 20px; line-height: 18px;">
          <small><%= recipient %></small>
      </h2>
      
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="pull-right" style="margin-right: 20px;"><a href="#fields_tab" data-toggle="tab">Fields</a></li>
          <li class="pull-right"><a href="#message_tab" data-toggle="tab">Message</a></li>
          <li class="pull-right"><a href="#taglines_tab" data-toggle="tab">Taglines</a></li>          
          <li class="pull-right active"><a href="#stats_tab" data-toggle="tab">Stats</a></li>
        </ul>
      </div>
      
    </div>
    

        <div class="tab-content">
        
          <div class="tab-pane" id="taglines_tab">
            
              <div style="margin: 0 20px 20px;">
                <h3>Tag Lines</h3>
                <p>Highlight specific sale points which cator most to this customer's needs. </p>
              </div>
                            
              <div class="modal-section">
                <dl class="dl-horizontal" style="margin-bottom: 13px;">
                  <dt class="large-line-height">First Line</dt>
                  <dd><input type="text" 
                              class="span5" 
                              name="headline1"
                              value="<%= headline1 %>" 
                              placeholder="i.e., New Paint and Interior"></dd>
                  <dt class="large-line-height">Second Line</dt>
                  <dd><input type="text" 
                              class="span5" 
                              name="headline2"
                              value="<%= headline2 %>"                               
                              placeholder="i.e., Fresh Phase Inspection"></dd>
                  <dt class="large-line-height">Third Line</dt>
                  <dd><input type="text" 
                              class="span5" 
                              name="headline3"
                              value="<%= headline3 %>"                               
                              style="margin-bottom: 0px;"
                              placeholder="i.e., Lowest Time Airframe On Market"></dd>
                </dl>
              </div>
              
              <div style="margin: 20px;">
                <p> </p>
              </div>              

          </div>
          
          <div class="tab-pane" id="message_tab">
            
              <div style="margin: 0 20px 20px;">
                <h3>Personalized Message</h3>
                <p>Include a personalized message for the recipient to make the spec stand out. </p>
              </div>
              
              <div class="modal-section">
                <dl class="dl-horizontal"  style="margin-bottom: 13px;">
                  <dt class="large-line-height">Salutation</dt>
                  <dd><input type="text" 
                              class="span5" 
                              name="salutation" 
                              value="<%= salutation %>" 
                              placeholder="Address the customer here. I.e., 'Hi Debra,'"></dd>
                  <dt class="large-line-height">Body</dt>
                  <dd><textarea rows="4" 
                              class="span5" 
                              name="message" 
                              style="margin-bottom: 0px;"><%= message %></textarea>
                              </dd>
                </dl>  
              </div>
              
              <div style="margin: 20px;">
                <p> </p>
              </div>              

          </div>
          
          <div class="tab-pane active" id="stats_tab">
          
              
              <div class="span6" style="margin: 0px auto; float: none;">
                <h3>View History</h3>
                <div id="chartContainer"></div>
              </div>
          
              <div style="clear: both; height: 20px;">&nbsp;</div>
          
              <hr>
              
                <div class="span">
                  
                  <div style="text-align: center;" class="span3 pull-left">
                    <h2><%= hits %></h2>
                    <h3>Total Views</h3>
                  </div>   
                        
                  <div style="text-align: center;" class="span3 pull-left">
                    <h2><%= top_average %></h2>
                    <h3>Avg View Time</h3>
                  </div>  
                                                                            
                </div>
              
                <div style="clear: both; height: 20px;">&nbsp;</div>
              
                <div class="pull-left">
                  <dl class="dl-horizontal" style="margin-bottom: 13px;">
                    <dt>Sent To Client</dt>
                    <dd><%= sent %></dd>
                    <dt>Last Viewed</dt>
                    <dd><%= last_viewed %></dd>                      
                      
                  </dl>        
                </div>
                
                <div class="pull-left">   
                  <dl class="dl-horizontal" style="margin-bottom: 13px;">
                               
                                                  
                  </dl>   
                </div>  
          </div>
                    
          <div class="tab-pane" id="fields_tab">
            
              <div style="margin: 0 20px 20px;">
                <h3>Field Override</h3>
                <p>Change spec values for this recipient </p>
              </div>
              
              <div class="modal-section">
                <dl class="dl-horizontal"  style="margin-bottom: 13px;">
                  <dt class="large-line-height">Price</dt>
                  <dd>
                    <input type="text" 
                            class="span3 money" 
                            name="override_price" 
                            placeholder="<%= asking_price %>"
                            value="<%= displayed_price %>">
                    <span style="margin-left: 20px;">
                    <input name="hide_price" 
                            <%= (hide_price) ? 'checked' : '' %> 
                            type="checkbox"> Hide Price </span>  
                  </dd>
                  <dt class="large-line-height">Description</dt>
                  <dd><textarea rows="4" 
                          class="span5"
                          name="override_description"  
                          style="margin-bottom: 0px;"><%= description %></textarea>
                  </dd>
                </dl>  
                <dl class="dl-horizontal" style="margin-bottom: 13px;">
                  <hr>
                  <dt>Field Visibility</dt>
                  <dd>
                    <span style="margin-left: 20px;">
                    <input name="hide_serial" 
                            <%= (hide_serial) ? 'checked' : '' %> 
                            type="checkbox"> Hide Serial </span>
                    <span style="margin-left: 20px;">
                    <input name="hide_registration" 
                            <%= (hide_registration) ? 'checked' : '' %> 
                            type="checkbox"> Hide Registration </span>                  
                    <span style="margin-left: 20px;">
                    <input name="hide_location" 
                            <%= (hide_location) ? 'checked' : '' %> 
                            type="checkbox"> Hide Location </span>  
                  </dd>
                                   
                </dl>                  
              </div>
                    
              <div style="margin: 20px;">
                <p> </p>
              </div>                         
                                
          </div>        
      </div>
  </form>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button class="btn btn-primary" id="xspec_save">Save</button>    
  </div>
  
</div>

