<td>
<a href="/contacts/<%= id %>">
    <%= (name != "") ? name : email %>
</a>
<% if (fire) { %><i style="color: #bd362f; font-weight: bold; margin-left: 5px;" 
                    class="icon-bolt"></i><% } %>
</td>

<td style="text-align:center;"><%= hits %> Views</td>

<td style="text-align:center;">
<% var dateString = ""; %>
<% if (last_viewed != "") {
    var s = new Date(last_viewed);
    dateString = "Last Seen on " + (s.getMonth()+1) +"/"+ s.getDate() +"/"+ s.getFullYear() +" "+ s.getHours() +":"+ s.getMinutes();
    } %>
<%= dateString %>
</td>

<td>
    <div class="lead_buttons btn-group pull-right" 
          style="width: 85px; height: 20px;">
    
      <button class="hide btn btn-mini xspec_settings" rel="tooltip" title="Edit Spec" >
        <i class="icon-wrench xspec_settings"></i> 
      </button>
      
      <button class="hide btn btn-mini" title="Preview Spec" rel="tooltip" onclick="window.location.href='<%= url %>'"><i class="icon-search view"></i></button>
      
      <button class="hide btn btn-mini remove_xspec" rel="tooltip" title="Delete Spec" >
        <i class="icon-remove remove_xspec"></i>
      </button>
      
    </div>
</td>

