
<div class="span3" id="main-thumbnail">
  <a data-toggle="modal" href="#photo_modal"><img src="http://www.controller.com/ImageService/ServeImage.aspx?img=90859173&listingPub=CNT&nMaxW=565&nMaxH=424"></a>
</div>

<div class="offset3">

    <h1><%= title %></h1>
    
    <div style="height: 5px;"></div>

    <% if (damage) { %>
    <a class="labelLink" href="#">
        <span class="label label-warning tags_enabled">Damage History</span>
    </a>
    <% } %>

    <% if (listed) { %>
    <a class="labelLink" href="#">
        <span class="label label-important tags_enabled">Listed</span>
    </a>
    <% } %>

    <% for (var i = 0; i < tags.length; i++) { %>
    <a class="labelLink" href="#"><span class="label label-info tags_enabled">
      <%= tags[i].name %></span>
    </a>
    <% } %>

    <div style="margin: 20px 0px 0px 0px; font-size: 110%">
    
        <div style="margin: 5px 0px;"><strong>Serial Number</strong>
        <input type="text" class="inline_edit" value="<%= serial ? serial : '--' %>"
          name="serial"></input></div>

        <div style="margin: 5px 0px"><strong>Registration</strong>
        <input type="text" class="inline_edit"  value="<%= registration ? registration : '--' %>" 
          name="registration"></input></div>

        <% if (location) { %>
        <div style="margin: 5px 0px"><strong>Location</strong>
          <a href="<%= location.id %>"><%= location.icao %></a>
          (<%= location.city %>) </div>
        <% } %>

        <div style="margin: 5px 0px;"><strong>Asking</strong>
        <input type="text" class="inline_edit money" value="<%= askingPrice ? askingPrice : '$--' %>" name="askingPrice"></input></div>

        <% if (location) { %>
        <div style="margin: 5px 0px;"><strong>Agent</strong>
          <a href="<%= agent.id %>"> <%= agent.name %> </a></div>
        <% } %>      
    </div>
  
</div> <!-- offset3 -->
