<td>
<a href="/contacts#/<%= id %>">
    <%= (name != "") ? name : email %>
</a>
<% if (fire) { %><i class="icon-fire"></i><% } %>
</td>

<td style="text-align:center;"><%= hits %></td>

<td style="text-align:center;">
<% var dateString = "--"; %>
<% if (last_viewed != "") {
    var s = new Date(last_viewed);
    dateString = (s.getMonth()+1) +"/"+ s.getDate() +"/"+ s.getFullYear() +" "+ s.getHours() +":"+ s.getMinutes();
    } %>
<%= dateString %>
</td>

<td>
    <div class="lead_buttons btn-group pull-right">
      <button class="btn btn-mini xspec_settings" data-xspecid="<%= xspecId %>">
        <i data-xspecid="<%= xspecId %>" class="icon-tasks xspec_settings"></i> 
      </button>
      <a class="btn btn-mini" href="<%= url %>"><i class="icon-folder-open view"></i> </a>
      <button class="btn btn-mini remove_xspec" data-xspecid="<%= xspecId %>">
        <i data-xspecid="<%= xspecId %>" class="icon-trash remove_xspec"></i>
      </button>      
    </div>
</td>

