<td>
<a href="/contacts#/<%= id %>">
    <%= (name != "") ? name : email %>
</a>
<% if (fire) { %><i class="icon-fire"></i><% } %>
</td>

<td style="text-align:center;"><%= hits %></td>

<td style="text-align:center;">
<% var dateString = "--"; %>
<% if (last_viewed != "") {
    var s = new Date(last_viewed);
    dateString = (s.getMonth()+1) +"/"+ s.getDate() +"/"+ s.getFullYear() +" "+ s.getHours() +":"+ s.getMinutes();
    } %>
<%= dateString %>
</td>

<td>
    <div class="btn-group pull-right">
      <button class="btn btn-mini open_xspec" data-xspecId="<%= xspecId %>">
        <i data-xspecId="<%= xspecId %>" class="icon-folder-open open_xspec"></i> Open
      </button>
      <a class="btn btn-mini" href="<%= url %>"><i class="icon-eye-open view"></i> View</a>
    </div>
</td>
