<div style="padding-top: 20px; background:rgb(236, 242, 245); border-bottom: 1px solid #CCC">

<div class="span2 main-thumbnail airframe-thumbnail" style="height: 130px; margin-bottom: 20px;">
<% if (avatar && avatar.thumb) { %>
  <a class="manage_images" href="#" onclick="return false;"><img src="<%= avatar.thumb %>" onError="this.src = '/assets/placeholder/aircraft_default_avatar.png'"></a>
  <% } else { %>
  <a class="manage_images" href="#" onclick="return false;">
    <span style="position: absolute; margin-top: 45px; width: 140px; text-align: center">
      <strong>Upload Image</strong><br>
      Drag Files Here
    </span>
    <img style="height: 129px" src="/assets/placeholder/aircraft_default_avatar.png">
  </a>
  <% } %>
</div>

<div class="offset2">

    <h1 style="margin-top: 0px;">
      <span id="spec_headline" data-pk="1" style="cursor: pointer" data-emptytext="Unknown Aircraft" data-type="aircraft_ymm"><%= year %> <%= make %> <%= model_name %></span>             
    </h1>

    <div style="margin-top: 5px; font-size: 110%" id="contact_details">

      <div class="span4" style="margin: 5px 0px;">

        <div style="margin: 0px;">
          Serial &nbsp;
          <a href="#" id="serial" data-type="text" data-pk="1" data-emptytext="none" data-original-title="Serial"><%= serial %></a> 
        </div>

        <div style="margin: 5px 0px">
          Registration &nbsp;
          <a href="#" id="registration" data-type="text" data-pk="1" data-emptytext="none" data-original-title="Registration"><%= registration %></a> 
        </div>

        <div style="margin: 5px 0px">
          Asking Price &nbsp;
          <a href="#" id="asking_price" data-type="text" data-pk="1" data-emptytext="$--" data-name="asking_price" data-original-title="Asking Price"><%= asking_price %></a> 
        </div>

      </div>

        <div class="span4" style="margin: 5px 0px;">

          <div style="margin: 0 0 5px 0px;">
            <span class="muted">
              Add <a href="#" id="add_associate" data-type="aircraft_associate">Associate</a>
            </span>
          </div> 

          <div style="margin: 5px 0px">
            <a href="/contacts/95"><span class="label label-info"><i class="icon-user icon-large"></i></span></a> Owner 
            <a href="#" id="Owner_3" data-type="text" data-pk="1" data-name="email" data-original-title="Email Address">
              Jackson Teller
            </a>             
            <a href="#" class="remove_detail"><i class="icon-remove"></i></a>
          </div>

        </div>

      </div>














    <div style="display: none; margin: 20px 0px 0px 0px; font-size: 110%">

        <div><div style="line-height: 5px;"><br></div>
        <strong class="span2" style="margin: 10px;">Serial Number</strong>
        <input type="text" 
            style="height: 20px; padding: 5px 10px; font-size: 16px;"
            class="inline-edit airframe_field span2" 
            value="<%= serial %>"
            placeholder="<%= serial ? serial : '--' %>"
            name="serial"></input>
       </div>

        <div><div style="line-height: 5px;"><br></div>
        <strong class="span2" style="margin: 10px;">Registration</strong>
        <input type="text" 
            style="height: 20px; padding: 5px 10px; font-size: 16px;"
            class="inline-edit airframe_field span2" 
            value="<%= registration %>"
            placeholder="<%= registration ? registration : '--' %>"
            name="registration"></input>
       </div>

        <% if (location) { %>
        <div><div style="line-height: 5px;"><br></div>
          <strong class="span2" style="margin: 10px;">Location</strong>
          <a href="<%= location.id %>"><%= location.icao %></a>
          (<%= location.city %>, <%= location.state %>) </div>
        <% } %>
        
        <div><div style="line-height: 5px;"><br></div>
        <strong class="span2" style="margin: 10px;">Asking Price</strong>
        <input type="text" 
                style="height: 20px; padding: 5px 10px; font-size: 16px;"
                class="inline-edit airframe_field money span2" 
                value="<%= asking_price ? asking_price : '$--' %>" 
                name="asking_price"></input>
        </div>
            
    </div>
    


</div> <!-- offset3 -->

<form id="airframe_image_upload" action="/accessories" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token">
  <div id="uploader" class="hide">

      <!-- The loading indicator is shown during file processing -->
      <div class="fileupload-loading"></div><br>

      <!-- The table listing the files available for upload/download -->
      <table class="table">
          <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
      </table>

      <!-- The fileupload-buttonbar contains buttons to add/delete files and 
      start/cancel the upload -->
      <div class="fileupload-buttonbar" style="clear: both;">
          <div class="span">
          
              <!-- The fileinput-button span is used to style the file input 
              field as button -->
 
              <input type="file" name="files[image]" id="airframe-image-input" value="Add Files" multiple>
              <input type="hidden" name="airframe" value="<%= id %>">
                  
          </div>
          <!-- The global progress information -->
          <div class="span3 fileupload-progress fade">
              <!-- The global progress bar -->
              <div class="progress progress-success progress-striped active">
                  <div class="bar" style="width:0%;"></div>
              </div>
              <!-- The extended global progress information -->
              <div class="progress-extended">&nbsp;</div>
          </div>
      </div>

  </div>
</form>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade" style="background: #FCF8E3 !important">
        <td class="preview" style="padding-left: 30px; vertical-align: middle">
          <span class="fade"></span>
        </td>
        <td class="name" style="vertical-align: middle"><span>{%=file.name%}</span></td>
        <td class="size" style="vertical-align: middle"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" style="vertical-align: middle">
              <span class="label label-important">
              {%=locale.fileupload.error%}</span> 
              {%=locale.fileupload.errors[file.error] || file.error%}
            </td>
        {% } else if (o.files.valid && !i) { %}
            <td style="vertical-align: middle">
                <div class="span1 progress progress-success progress-striped active"
                  style="margin: 10px auto;">
                  <div class="bar" style="width:0%;"></div>
                </div>
            </td>

        {% } else { %}
            <td></td>
        {% } %}        
        <td class="cancel" colspan="2" style="vertical-align: middle; width: 110px;">
        {% if (!i) { %}
         
            <button class="btn pull-right" style="margin: 0px 20px 0px 0px;">
                <i class="icon-trash"></i>
                <span>Delete</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name" style="vertical-align: middle">
              <span>{%=file.name%}</span>
            </td>
            <td class="size" style="vertical-align: middle">
              <span>{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td class="error" style="vertical-align: middle">
              <span class="label label-important">
              {%=locale.fileupload.error%}</span> 
              {%=locale.fileupload.errors[file.error] || file.error%}
            </td>
        {% } else { %}
            <td class="preview" style="padding-left: 30px;">
            {% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" 
                  title="{%=file.name%}" 
                  rel="gallery" 
                  download="{%=file.name%}">
                  <img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name" style="vertical-align: middle">
                <a href="{%=file.url%}" 
                title="{%=file.name%}" 
                rel="{%=file.thumbnail_url&&'gallery'%}" 
                download="{%=file.name%}"><h4>{%=file.name%}</h4></a>
            </td>
            <td class="size" style="vertical-align: middle"><span>
              {%=o.formatFileSize(file.size)%}</span>
            </td>
            <td style="vertical-align: middle">
              {% if (file.is_thumbnail != true) { %} 
              <button
                class="btn set-thumbnail pull-right" 
                data-aid="{%= file.id %}">Set as Thumbnail</button>
              {% } %}   
            </td>
        {% } %}
        <td class="delete" style="vertical-align: middle; width: 110px;">
            <button
              class="btn pull-right"
              style="margin: 0px 20px 0px 0px;"
              data-type="{%=file.delete_type%}" 
              data-url="{%=file.delete_url%}">
                <i class="icon-trash"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
        </td>
    </tr>
{% } %}
</script>

<div class="clearfix"></div>
</div>