
<div class="span3 main-thumbnail airframe-thumbnail">
<% if (typeof(avatar) != "undefined" && avatar != null && typeof(avatar.thumb) != "undefined") { %>
  <a class="manage_images" href="#" onclick="return false;"><img src="<%= avatar.thumb %>"></a>
  <% } else { %>
  <a class="manage_images" href="#" onclick="return false;">
    <span style="position: absolute; margin-top: 70px; width: 220px; text-align: center">
      <h1>Upload Image</h1>
      <h3>Drag Files Here</h3>
    </span>
    <img src="/assets/placeholder/aircraft_default_avatar.png">
  </a>
  <% } %>
</div>

<div class="offset3">

    <h1 id="spec_headline"><%= year %> <%= make %> <%= model_name %></h1>

    <div style="height: 5px;"></div>

    <% if (damage) { %>
    <a class="labelLink" href="#">
        <span class="label label-warning tags_enabled">Damage History</span>
    </a>
    <% } %>

    <% if (listed) { %>
    <a class="labelLink" href="#">
        <span class="label label-important tags_enabled">Listed</span>
    </a>
    <% } %>

    <% for (var i = 0; i < tags.length; i++) { %>
    <a class="labelLink" href="#"><span class="label label-info tags_enabled">
      <%= tags[i].name %></span>
    </a>
    <% } %>

    <div style="margin: 20px 0px 0px 0px; font-size: 110%">

        <div>
        <strong class="span2" style="margin: 10px;">Serial Number</strong>
        <input type="text"
            style="height: 20px; padding: 5px 10px; font-size: 16px;" 
            class="inline-edit airframe_field span2" 
            value="<%= serial %>"
            placeholder="<%= serial ? serial : '--' %>"
            name="serial"></input>
        </div>

        <div><div style="line-height: 5px;"><br></div>
        <strong class="span2" style="margin: 10px;">Registration</strong>
        <input type="text" 
            style="height: 20px; padding: 5px 10px; font-size: 16px;"
            class="inline-edit airframe_field span2" 
            value="<%= registration %>"
            placeholder="<%= registration ? registration : '--' %>"
            name="registration"></input>
       </div>

        <% if (location) { %>
        <div><div style="line-height: 5px;"><br></div>
          <strong class="span2" style="margin: 10px;">Location</strong>
          <a href="<%= location.id %>"><%= location.icao %></a>
          (<%= location.city %>, <%= location.state %>) </div>
        <% } %>
        
        <div><div style="line-height: 5px;"><br></div>
        <strong class="span2" style="margin: 10px;">Asking Price</strong>
        <input type="text" 
                style="height: 20px; padding: 5px 10px; font-size: 16px;"
                class="inline-edit airframe_field money span2" 
                value="<%= asking_price ? asking_price : '$--' %>" 
                name="asking_price"></input>
        </div>
            
    </div>
    


</div> <!-- offset3 -->

<form id="airframe_image_upload" action="/accessories" method="POST" enctype="multipart/form-data">
  <div id="uploader" class="hide">

      <!-- The loading indicator is shown during file processing -->
      <div class="fileupload-loading"></div><br>

      <!-- The table listing the files available for upload/download -->
      <table class="table table-striped">
          <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
      </table>

      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="fileupload-buttonbar" style="clear: both;">
          <div class="span6">
              <!-- The fileinput-button span is used to style the file input field as button -->
              <span class="btn fileinput-button">
                  <i class="icon-plus "></i>
                  <span>Add files...</span>
                  <input type="file" name="files[image]" multiple>
                  <input type="hidden" name="airframe" value="<%= id %>">
              </span>
              <button type="submit" class="btn btn-primary start">
                  <i class="icon-upload icon-white"></i>
                  <span>Start upload</span>
              </button>
              <button type="reset" class="btn cancel">
                  <i class="icon-ban-circle"></i>
                  <span>Cancel upload</span>
              </button>
              <button type="button" class="btn delete">
                  <i class="icon-trash"></i>
                  <span>Delete</span>
              </button>
              <input type="checkbox" class="toggle">
          </div>
          <!-- The global progress information -->
          <div class="span3 fileupload-progress fade">
              <!-- The global progress bar -->
              <div class="progress progress-success progress-striped active">
                  <div class="bar" style="width:0%;"></div>
              </div>
              <!-- The extended global progress information -->
              <div class="progress-extended">&nbsp;</div>
          </div>
      </div>

  </div>
</form>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview" style="padding-left: 30px;"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn">
                <i class="icon-ban-circle"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview" style="padding-left: 30px;">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" style="margin-left: 30px;" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
            {% if (file.is_thumbnail != true) { %}<br><br>
            <a href="#" style="margin-left: 30px;" class="set-thumbnail" data-aid="{%= file.id %}" onclick="return false;">Set as Thumbnail</a>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
