<h3></h3>

<div class="tabbable">

    <ul class="nav nav-tabs">
      <li class="active">
      <a href="#pane_details" data-toggle="tab">Airframe</a>
      </li>
      <li>
      <a href="#pane_engines" data-toggle="tab">Engines</a>
      </li>
      <li>
      <a href="#pane_avionics" data-toggle="tab">Avionics</a>
      </li>
      <li>
      <a href="#pane_equipment" data-toggle="tab">Equipment</a>
      </li>      
      <li>
      <a href="#pane_description" data-toggle="tab">Description</a>
      </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="pane_details">

            <table class="table table-condensed">
            <tbody>
              <tr>
                <td style="border-top: 0px; padding-top: 13px"><h4><small>Total Time</small></h4></td>
                <td style="border-top: 0px;">
                  <input type="text" class="inline-edit number airframe-spec-field table-input-margin"
                        value="<%= tt %>" name="tt"></input>
                </td>
                <td style="border-top: 0px;">&nbsp;</td>
                <td style="border-top: 0px; padding-top: 13px"><h4><small>Total Cycles</small></h4></td>
                <td style="border-top: 0px;">
                  <input type="text" class="inline-edit number airframe-spec-field table-input-margin"
                        value="<%= tc %>" name="tc"></input>
                </td>
              </tr>            
              <tr>
                <td style="border-top: 0px; padding-top: 13px"><h4><small>Year</small></h4></td>
                <td style="border-top: 0px;">
                  <input type="text" class="inline-edit airframe-spec-field table-input-margin"
                        value="<%= year %>" name="year"></input>
                </td>
                <td style="border-top: 0px;">&nbsp;</td>
                <td style="border-top: 0px; padding-top: 13px"><h4><small>Make</small></h4></td>
                <td style="border-top: 0px;">
                  <input type="text" class="inline-edit airframe-spec-field table-input-margin"
                        value="<%= make %>" name="make"></input>
                </td>
              </tr>                
              <tr>
                <td style="border-top: 0px; padding-top: 13px"><h4><small>Model</small></h4></td>
                <td style="border-top: 0px;" colspan=4>
                  <input type="text" 
                        class="inline-edit span table-input-margin"
                        value="<%= modelName %>" 
                        style="width: 349px"
                        name="modelName"></input>
                </td>
              </tr>            
            </tbody>
            </table>

        </div>

        <div class="tab-pane spec_pane" id="pane_engines"></div>
        <div class="tab-pane spec_pane" id="pane_avionics"></div>
        <div class="tab-pane spec_pane" id="pane_cosmetics"></div>
        <div class="tab-pane spec_pane" id="pane_equipment"></div>

  </div> <!-- end tabbed content -->

</div> <!-- end tabbable -->

<h2><br/></h2>
