<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Jetdeck</title>
    
    <%= csrf_meta_tags %>
    
    <link rel="shortcut icon" href="/assets/favicon.png" />
    
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <!-- styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- javascript -->
    <%= javascript_include_tag "application" %>

    <% if flash[:notice] %>
    <script type="text/javascript"> 
      $(function() { alertFailure("<%= flash[:notice] %>"); });
    </script>
    <% end %>
        
  </head>

  <body>
  
    <div class="sweatband"></div>
    
    <%= render "layouts/partials/noie" %>
  
    <div class="container">
      <% if current_user %>
      
      <%= render "layouts/partials/navbar" %>

      <%= render "layouts/partials/searchbar" %>
      
      <div class="row">

          <%= render "layouts/partials/notifications" %>
          
          <div class="span2">  <!-- MY DECK ... navigation -->
          
            <br/>

            <%= render "layouts/partials/leftnav" %>
            
            <%= render "layouts/partials/invites" %>
            
          </div> <!-- end MY DECK ... navigation -->

          <div class="span10" id="whitebox"> <!-- span10 entire spec (White background) -->

              <%= render "layouts/partials/changes" %>

              <%= yield %>

          </div> <!-- end span10 entire spec (White background) -->

      </div> <!-- end main row -->

    <%= render "layouts/partials/footer" %>

    </div> <!-- end container class -->

    <div class="modal hide" id="jetdeckModal"></div> <!-- modal container place holder -->
  
    <%= render "layouts/partials/mixpanel" %>

    <% end %>
    
  </body>
    
</html>
