<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jetdeck</title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- Le javascript -->
    <%= javascript_include_tag "application" %>
    <!--
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
   
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32538435-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    -->
    </head>

    <body>
      <div class="container">

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">

                <a class="brand" style="margin-left: 15px; margin-top: -9px; position: absolute;" href="/"><img src="/assets/logo.png"></a>

                <div class="nav-collapse">

                  <ul class="nav pull-right" style="margin-right: 15px;">
                    <!--<li><a href="#">Help</a></li>-->
                    <li class="divider-vertical"></li>
                    <li class="dropdown id="nav-username">

                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                          <% if current_user %>
                            <%= current_user.contact.first %> <%= current_user.contact.last %> <b class="caret"></b>
                          <% end %>

                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="/profile">Edit Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Log Out</a></li>
                      </ul>
                    </li>
                  </ul>

                </div><!-- /.nav-collapse -->

              </div>

            </div><!-- /navbar-inner -->

        </div> <!-- navbar navbar-fixed-top -->

        <div class="row" style="padding: 0px 0px 10px;">

                  <div class="btn-group pull-right" style="margin: 10px 20px 0 0;">
                    <button class="btn btn-primary new-spec"><i class="icon-plane icon-white"></i> New Spec</a></button>
                    <button class="btn btn-primary new-contact"><i class="icon-user icon-white"></i> New Contact</a></button>
                  </div>

                  <!--<div class="btn-toolbar btn-group pull-right" style="margin: 10px 20px 0 0;">
                    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-plus icon-white"></i> New
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="left: auto">
                      <li><a class="new-spec" href="#" onclick="return false;"><i class="icon-plane"></i> New Spec</a></li>
                      <li><a class="new-contact" href="#" onclick="return false;"><i class="icon-user"></i> New Contact</a></li>
                    </ul>
                  </div>-->


                  <!--<form class="navbar-search pull-right" action="">
                    <input type="text" class="jui-autocomplete input-xlarge" placeholder="Find an aircraft or contact" style="margin: 4px 10px;"></input>
                  </form>-->


        </div> <!-- end row class for search bar and new spec/contact-->

        <div class="row">

          <!-- notification message placeholder -->
          <div class="alert alert-success span5" id="jetdeck-notification">
            <button class="close" data-dismiss="alert">×</button>
            <div class="notification-content"></div>
          </div>
          <div class="alert alert-error span5" id="jetdeck-notification-error">
            <button class="close" data-dismiss="alert">×</button>
            <div class="notification-content"></div>
          </div>
          
          <div class="span2">
            <br/>
            <ul class="nav nav-list">
              <li class="">
                <a href="/airframes"> <i class="icon-th-list"></i> My Deck <!-- TODO add badges to deck nav <span class="badge badge-info">8</span> --></a>
              </li>
              <!--<li class="nav_searches_enabled">
                <a href="#"> <i class="icon-search"></i> Searches</a>
              </li>-->
              <li class="nav_contacts_enabled">
                <a href="/contacts"> <i class="icon-book"></i> Contacts</a>
              </li>

            </ul>
          </div> <!-- end MY DECK ... navigation -->

        <div class="span10" style="border: 1px solid #ccc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin:0px; background: #fff;">

            <div style="margin-top: 20px;"></div>

            <%= yield %>

        </div> <!-- span10 entire spec (White background) -->

      </div> <!-- end main row -->


        <div class="span12" style="text-align: center; margin: 20px; color: #555"><p>Copyright JetDeck <%=  Time.now.year %></p></div>


      </div> <!-- end container class -->

    <div class="modal fade" id="jetdeckModal"></div> <!-- modal container place holder -->

    </body>
</html>
