<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    
    <% #airbrake_javascript_notifier %>   
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Jetdeck</title>
    
    <%= csrf_meta_tags %>
    
    <link rel="shortcut icon" href="/assets/favicon.png" />
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- Le javascript -->
    <%= javascript_include_tag "application" %>

    <% if flash[:notice] %>
    <script type="text/javascript"> 
      $(function() { alertFailure("<%= flash[:notice] %>"); });
    </script>
    <% end %>
        
  </head>

    <body>
    
      <div class="sweatband"></div>
    
      <div class="container">
        <% if current_user.present? %>
        <div class="navbar row">

                <div class="span12">
                
                  <a class="brand" style="margin-left: 10px" href="/">
                  <img src="/assets/logo_black_no_tag_130.png">
                  </a>
                  
                  <div class="pull-right username">

                        Welcome, 
                        
                        <a href="/profile">

                            <% if current_user %>
                              <% if current_user.contact.first == "" && %>
                              <strong>Member</strong>    
                              <% else %>
                              <strong>
                              <%= current_user.contact.first %> 
                              <%= current_user.contact.last %>
                              </strong>                              
                              <% end %>
                            <% end %>

                        </a>
                    
                        | <a href="/logout">Log Out</a>

                    </div>
                  </div>

        </div> <!-- navbar navbar-fixed-top -->

        <div class="row" style="padding: 0px 0px 10px;">
          
            <div id="create-buttons" class="btn-group pull-right" 
            style="margin: 10px 20px 0 0;">
              <button class="btn" id="new-spec">
                <i class="icon-plane icon-white"></i> New Spec </button>
              <button class="btn" id="new-contact">
                <i class="icon-user icon-white"></i> New Contact </button>
            </div>
            
            <form class="navbar-search pull-right" action="">
                <input type="text" id="navbar-search" class="input-xlarge" placeholder="Jump To..." style="margin: 4px 10px 4px 0;"></input>    
            </form>                  

        </div> <!-- end row class for search bar and new spec/contact-->

        <div class="row">

          <!-- notification message placeholder -->
          <div class="alert alert-success span4 offset4" id="jetdeck-notification">
            <button class="close" data-dismiss="alert">×</button>
            <div class="notification-content"></div>
          </div>
          <div class="alert alert-error span4 offset4" id="jetdeck-notification-error">
            <button class="close" data-dismiss="alert">×</button>
            <div class="notification-content"></div>
          </div>
          
          <div class="span2">
          
            <br/>

            <ul class="left-nav nav nav-list">
            
              <li>
                <a href="/airframes"> <h3 style="font-size: 15px"> <i class="icon-th-list"></i> My Deck </h3> </a>
              </li>

              <li>
                <a href="/contacts"> <h3 style="font-size: 15px"> <i class="icon-book"></i> Contacts </h3></a>
              </li>
              
              <li >
                
                <a href="/actions" <% if (actions_due_count > 0) %>
                  data-placement="bottom" 
                  rel="tooltip" 
                  title="<%= actions_due_count %> Action(s) Past Due<% end %>"> 
                  <h3 style="font-size: 15px"> <i class="icon-check"></i> Actions 
                <% if (actions_due_count > 0) %><small>(<%= actions_due_count %>)</small><% end %>
                </h3></a>
               
              </li>              

            </ul>
            
            <% if current_user.invites > 0 %>
            <button style="margin-top: 40px;" class="btn" id="new-invite"> <i class="icon-gift"></i> Invite a Friend!</button>
            <div style="margin-top: 5px; margin-left: 5px;">
              <span style="font-size: 90%">
                (<strong><%= current_user.invites %></strong> Invites Remaining)
              </span>
            </div>
            <% end %>
            
          </div> <!-- end MY DECK ... navigation -->

        <div class="span10" style="
          border: 1px solid #ccc; 
          -webkit-border-radius: 4px; 
          -moz-border-radius: 4px; 
          border-radius: 4px; 
          margin:0px; 
          background: #fff;">

            <div id="changes" 
                class="hide alert clearfix"
                style="
                  margin: 0px; 
                  width: auto; 
                  -webkit-border-radius: 4px 4px 0 0; 
                  -moz-border-radius: 4px 4px 0 0; 
                  border-radius: 4px 4px 0 0;">
                
                <div class="span" style="margin: bottom: 7px; margin-top: 10px;">
                <h3>
                 Updates Pending
                </h3>
                </div>
                
                <button id="save-changes" class="btn btn-warning pull-right" 
                  style="margin: 7px 0;">
                  <i class="icon-save icon-white icon-large"></i> &nbsp;
                  <strong>Save Changes</strong>
                </button>
                
                <div style="margin: 14px 15px 0px 0px; float: right;">
                  <a id="cancel-changes" href="#">
                    Cancel</a></div>
                  
            </div>
                  
            <div style="margin-top: 20px;"></div>

            <%= yield %>

        </div> <!-- span10 entire spec (White background) -->

      </div> <!-- end main row -->

        <div class="span12 footer">
        <p>© <%=  Time.now.year %>, JetDeck Services, LLC </p>
        </div>

       <% end %>
      </div> <!-- end container class -->

    <div class="modal hide" id="jetdeckModal"></div> <!-- modal container place holder -->
    <% if current_user.present? && Rails.env != "development" %>
    <% require 'digest/sha1' %>
    <script>  
      $(function() {
        mixpanel.people.set({
          $email        : "<%= current_user.contact.email %>",
          $created      : "<%= current_user.created_at %>",
          $first_name   : "<%= current_user.contact.first %>",
          $last_name    : "<%= current_user.contact.last %>",
          $company      : "<%= current_user.contact.company %>",
          $specs        : "<%= current_user.airframes.count %>",
          $distinct_id  : "<%= Digest::SHA1.base64digest(current_user.id.to_s) %>"
        });
        mixpanel.people.identify("<%= Digest::SHA1.base64digest(current_user.id.to_s) %>");    
        
        mixpanel.identify("<%= Digest::SHA1.base64digest(current_user.id.to_s) %>");
        mixpanel.name_tag("<%= current_user.contact.email %>");
      });
    </script>
    <% end %>
    </body>
    
</html>
