<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>JetDeck Signup</title>
    
    <%= csrf_meta_tags %>
    
    <link rel="shortcut icon" href="/assets/favicon.png" />
    
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <!-- styles -->
    <%= stylesheet_link_tag "signup", :media => "all" %>
    <!-- javascript -->
    <%= javascript_include_tag "signup" %>
        
  </head>

  <body>

    <%= render "layouts/partials/brandbar" %>

    <div class="container">     
      
      <div class="row">
          
          <div class="span12"> <h2>Inventory & Contact Management. <small style="color: rgb(46, 92, 177);">Made Simple.</small></h2> </div>

          <div class="clearfix"><br><br><br></div>

          <div class="span7">  <!-- MY DECK ... navigation -->

            <div style="margin: 0px 0px 40px 0px; color: #777;">
            <i class="icon-bolt pull-left" style="font-size: 30px; margin: 3px 20px 0 0; width: 40px; text-align: center"></i>
            <h4>React to Leads Faster and Close More Deals</h4>
            </div> 
            
            <div style="margin: 40px 0px 40px 0px; color: #777;">
            <i class="icon-magic pull-left" style="font-size: 30px; margin: 3px 20px 0 0; width: 40px; text-align: center"></i>
            <h4>Send Specs of Any Size Over Email</h4>
            </div>
            
            <div style="margin: 40px 0px 40px 0px; color: #777;">
            <i class="icon-signal pull-left" style="font-size: 30px; margin: 3px 20px 0 0; width: 40px; text-align: center"></i>
            <h4>Optimize Specs For Today's Mobile Customers</h4>
            </div>
            
            <div style="margin: 40px 0px 40px 0px; color: #777;">
            <i class="icon-group pull-left" style="font-size: 30px; margin: 3px 20px 0 0; width: 40px; text-align: center"></i>
            <h4>Tailor Them To Each Customer For Max Impact</h4>
            </div>
           
            <div style="margin: 40px 0px 40px 0px; color: #777;">
            <i class="icon-cloud pull-left" style="font-size: 30px; margin: 3px 20px 0 0; width: 40px; text-align: center"></i>
            <h4>Link Your Aircraft Inventory and Address Book</h4>
            </div>                                      

                        
          </div> <!-- end MY DECK ... navigation -->

          <div class="span5" id="whitebox"> <!-- span10 entire spec (White background) -->

             <div class="row-fluid"><div style="margin: 20px;"><%= yield %></div></div>

          </div> <!-- end span10 entire spec (White background) -->

      </div> <!-- end main row -->

    <%= render "layouts/partials/footer" %>

    </div> <!-- end container class -->
    
  </body>
  <%= render "layouts/partials/analytics" %>
  <%= render "layouts/partials/mixpanel" %>
  
</html>
